<div class="bg-white p-4">

    <app-tabs [tabs]="tabs" [activeTab]="activeTab" (onTabClick)="onTabClick($event)"></app-tabs>

  @if (activeTab != 'market_trade') {
    <div class="mt-4 flex flex-row justify-center overflow-auto">
      <app-search class="w-[70%]" [showResults]="showResults" [isLoading]="isSearchLoading" (search)="onSearch($event)">
        @for (item of stockList; track $index) {
          <app-stocks-search-item [isProfit]="item.dayChangePercent >= 0" [title]="item.name" [symbol]="item.symbol" 
            [price]="item.close" [changePercent]="item.dayChangePercent"></app-stocks-search-item>
        }
      </app-search>
    </div>
  }


    <router-outlet />
</div>
