<div>
    <!-- Stock Name -->
    <span class="text-text-18-600"></span>

    <div>
        <!-- Stock Price -->
        <span></span>
        <!-- Stock Price Change Percent and Change value -->
        <span></span>

        <!-- Graph -->
        <!-- <ngx-charts-line-chart></ngx-charts-line-chart> -->
        
    </div>

    <div>
        <span>About Company</span>
        <span>Description</span>
    </div>

    <div>
        <div>
            <span>Previous Close</span>
            <span></span>
        </div>
        <div>
            <span>AVG Volumne</span>
            <span></span>
        </div>
    </div>

    <div>
        <div class="w-48">
        <app-button [label]="'Buy'" (onButtonClick)="buyMarketStock()"></app-button>
            </div>
        <div>

        </div>
    </div> 
</div>