@if (isLoading) {
  
}@else if (!portfolio) {

}@else {
  <div class="py-6 bg-white">
    <app-portfolio-table [columnData]="columData" [data]="portfolio.stocks"></app-portfolio-table>
  </div>
  
  <div class="mt-8 flex flex-row justify-evenly items-center">
    <app-portfolio-meta-data-view [title]="'Total Investment'" [value]="'$' + (portfolio.totalInvestment| numberFormatter)" [valueColor]="'text-black'"></app-portfolio-meta-data-view>
    <app-portfolio-meta-data-view [title]="'Current Value'" [value]="'$' + (portfolio.currentValue | numberFormatter)" [valueColor]="'text-black'"></app-portfolio-meta-data-view>
    <app-portfolio-meta-data-view [title]="'Total P&L'" [value]="'$' + (portfolio.totalPL | numberFormatter)" [valueColor]="'text-success-600'"></app-portfolio-meta-data-view>
  </div>
}

