<div class="w-full h-full flex">
    <div class="w-[65%] h-full flex flex-col justify-center items-center pr-[15%]">

        <label class="text-text-32-black">Welcome</label>

        <div class="mt-4">
            <img src="finplay-logo.png" alt="finpaly-logo" class="w-42 h-42">
        </div>

        <div class="mt-6 w-72 text-center">
            <label class="text-text-16-500 text-neutral text-center text-wrap">Create your portfolio. Invest, Increase your assets.</label>
        </div>

        </div>
    <div class="w-[35%] h-full flex flex-col justify-center items-start">
        <label class="text-text-32-black">Hello!</label>

        <div class="mt-2">
            <label class="text-text-20-400 text-neutral">Sign in to continue</label>
        </div>

        <div class="w-1/2 mt-4">
            <app-sign-in-form></app-sign-in-form>
        </div>
        </div>
</div>